@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #F5F5F5;
  color: #313131;
}

:root:has(.no-doc-scroll) {
  overflow:hidden;
}

body {
  font-family: var(--font-lexend), sans-serif;
  color: #313131;
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}